<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Fresh Steps uses your location to track your walk and show your position on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Fresh Steps uses your location in the background to continuously track your walk without gaps.</string>
</dict>
</plist>
